[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -w \
            timeout 300 "notify-send 'Power' 'System will suspend very soon due to inactivity.'" \
            timeout 310 "systemctl suspend-then-hibernate" \
            before-sleep "loginctl lock-session" \
            lock "hyprlock" \
            unlock "pkill -USR1 hyprlock"


[Install]
WantedBy=sway-session.target

